@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
}
button {
  display: flex;
  max-height: 50rem;
  border: solid black;
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin: 0.7rem;
  background-color: black;
  color: white;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  font-family: "Montserrat", sans-serif;
}
button:hover {
  transition-duration: 0.1s;
  background-color: cyan;
  color: black;
  transition-timing-function: ease-in;
}
.item_container {
  display: flex;
  width: 60rem;
  max-height: 50rem;
  border: solid black;
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin: 0.7rem;
  background-color: black;
  color: white;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  font-family: "Montserrat", sans-serif;
}

.item_container:hover {
  transition-duration: 0.1s;
  background-color: cyan;
  color: black;
  transition-timing-function: ease-in;
}

.article-info {
  width: 30%;
}

.article-img {
  width: 70%;
}

.top-headline-img {
  width: 100%;
}

.top_headline_h2 {
  font-size: 1.6rem;
}

.top_headline_p {
  font-size: 0.8rem;
}

.top_headline_p2 {
  font-size: 0.5rem;
}
